name: Release

on:
  workflow_dispatch:
  pull_request:
    types: [ closed ]
    paths:
      - '.github/project.yml'

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  maven-release:
    runs-on: ubuntu-latest
    name: Release power-server
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.pull_request.merged == true}}
    outputs:
      already_released: ${{steps.released.outputs.already_released}}

    steps:
      - uses: actions/checkout@v6

      - uses: radcortez/project-metadata-action@main
        name: Retrieve project metadata
        id: metadata
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          metadata-file-path: '.github/project.yml'
          local-file: true

      - name: Check if already released
        id: released
        run: |
          if curl --output /dev/null --silent --head --fail "https://repo1.maven.org/maven2/net/laprun/sustainability/power-server/${{steps.metadata.outputs.current-version}}"; then
            echo "already_released=true" >> $GITHUB_OUTPUT
          fi

      - uses: actions/setup-java@v5
        if: steps.released.outputs.already_released != 'true'
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Configure Git author
        if: steps.released.outputs.already_released != 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Maven release ${{steps.metadata.outputs.current-version}}
        if: steps.released.outputs.already_released != 'true'
        run: |
          mvn -B release:prepare -Prelease -Darguments="-DskipTests" -DreleaseVersion=${{steps.metadata.outputs.current-version}} -DdevelopmentVersion=${{steps.metadata.outputs.next-version}}
          mvn -B release:perform -Darguments="-DperformRelease -DskipTests" -DperformRelease -Prelease
        env:
          MAVEN_USERNAME: "${{ secrets.CENTRAL_USER }}"
          MAVEN_PASSWORD: "${{ secrets.CENTRAL_PASSWORD }}"
          MAVEN_GPG_PASSPHRASE: "${{ secrets.GPG_PASSPHRASE }}"

      - name: Push changes to ${{github.base_ref}} branch
        if: steps.released.outputs.already_released != 'true'
        run: |
          git push
          git push origin ${{steps.metadata.outputs.current-version}}

  # Build native executable per runner
  package:
    if: needs.maven-release.outputs.already_released != 'true'
    needs: [maven-release]
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, macos-15-intel ]
    uses: ./.github/workflows/native-build.yml
    with:
      platform: ${{ matrix.os }}

  # Collect all executables and release
  release:
    if: needs.maven-release.outputs.already_released != 'true'
    needs: [ maven-release, package ]
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # checkout will clobber downloaded artifacts
      # we have to download them again
      - name: 'Download all build artifacts'
        uses: actions/download-artifact@v6
        with:
          path: artifacts
          pattern: power-server-*
          merge-multiple: true

      - name: 'Set up Java'
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
          cache: maven

      - name: 'Release with JReleaser'
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn -ntp -B --file pom.xml -Prelease -DartifactsDir=artifacts jreleaser:full-release -pl server

      - name: 'JReleaser output'
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: jreleaser-logs
          path: |
            target/jreleaser/trace.log
            target/jreleaser/output.properties
